.answer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;

    // pretty stuff
    //border: 2px solid pink;
    // temp
    height:15%;
}
.answ-input {
    text-align: center;
    text-decoration: none;
    width: 80%;
    line-height: 1;
    padding-bottom: 0;
    padding-top: 25px;
    //height: 90%;
    font-size:30px;
    //pretty stuff
    background-color: rgb(143, 143, 143);
    border : 4px solid black;
    border-radius: 35px;
    color : #ffffff;
    resize: none;
    align-items: center;

    overflow:hidden;
    &:focus {
        border : 4px solid black;
        outline:none;
    }
}
