.button-container{
    display: flex;
    //border: 2px solid black;
    justify-content: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-weight:400;
}

.result-button{
    font-size: 20px;
    height: 60px;
    width: 70%;
    background-color: #383838;
    color: white;
    font-size: 20px;
    border-radius: 12px;
    border: 2px solid rgb(188, 188, 244);
    text-shadow: 2px 2px 4px rgba(120, 120, 250, 0.5); 
}

.result-button:hover{
    background-color:rgb(180, 180, 244);
    cursor: pointer;
}

.result-button:active{
    background-color:rgb(188, 188, 244);
}