.button-container{
    display: flex;
    //border: 2px solid black;
    justify-content: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-weight:400;
}

.result-button{
    height: 60px;
    width: 120px;
    background-color: #383838;
    color: white;
    border-radius: 12px;
    border: 2px solid rgb(104, 104, 104);
}

.result-button:hover{
    background-color:rgb(143, 143, 143);
}

.result-button:active{
    background-color:rgb(32, 32, 32);
}