.question-container {
    display: flex;
    //border: 2px solid red;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 1.7em;
    text-shadow: 2px 2px 8px #747474;
}