.reply-container {
    display: flex;
    //border: 2px solid red;
    justify-content: center;
    color: black;
    font-size: 40px;
    text-shadow: 2px 2px 8px #8c8cff;
}

.hobbylist {
    margin: 0;
}