:global {
    body {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        color: #ffffff;
        background-color: #595959;
        border: 2px solid green;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid blue;
    gap: 20px;
    width: 57%;
    height: 80vh;
    margin: auto;
}